<h1>Hailey's Recipes</h1>

<% @recipes.each do |recipe| %>
     
        <h2><%= link_to recipe.name, recipe %></h2>
       
        <%= link_to 'Edit', edit_recipe_path(recipe) %>
        <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
<% end %>
  

<br>

<%= link_to 'New Recipe', new_recipe_path %>
