<h1><%= full_name_of(@user) %></h1>

<div class="col-md-2">
	<div class="row">
		Some Content
	</div>
</div>

<div class="col-md-10">
	<div class="row">
		<h3>Recipes Created</h3>
		<% @recipes.each do |recipe| %>
			<div><%= link_to recipe.name, recipe %></div>
		<% end %>
	</div>
	<div class="row">
		<h3>My Favs</h3>
		<% @favorites.each do |favorite| %>
			<div><%= link_to favorite.name, favorite %></div>
		<% end %>
	</div>
</div>

